APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

### 郵件設定
MAIL_FROM_NAME=null
MAIL_FROM_ADDRESS=null

### SMTP設定
MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_PRETEND=false      # 若為true，則以寫入log代替實際寄信

### Google reCAPTCHA
# Here is test key
reCAPTCHA_Site_key=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
reCAPTCHA_Secret_Key=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe

### 開放註冊
ALLOW_REGISTER=true
